*, *::after, *::before{
    box-sizing: border-box;
}

:root{
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size)*.9);
}

body{
    margin: 0;
}

.board{
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.cell{
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: white;
    border: 1px solid black ;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cell.x,
.cell.o {
    cursor:not-allowed;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n) {
    border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom: none;
}

.cell.x::after,
.cell.x::before {
    background-color: black;
}

.cell.o::before {
    background-color: black;
}

.board.x .cell:not(.x):not(.o):hover::after,
.board.x .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::before {
    background-color: rgb(188, 188, 188) ;
}

.cell.x::after,
.cell.x::before,
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
    content: '';
    width: calc(var(--mark-size)*.15);
    height: var(--mark-size);
    position: absolute;
}

.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::after {
    transform: rotate(45deg);
}

.cell.x::before,
.board.x .cell:not(.x):not(.o):hover::before {
    transform: rotate(-45deg);
}


.cell.o::after,
.cell.o::before,
.board.o .cell:not(.x):not(.o):hover::after,
.board.o .cell:not(.x):not(.o):hover::before {
    content: '';
    width: var(--mark-size);
    height: var(--mark-size);
    position: absolute;
    border-radius: 50%;
}

.cell.o::before,
.board.o .cell:not(.x):not(.o):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
}

.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::after {
    width: calc(var(--mark-size)*.7);
    height: calc(var(--mark-size)*.7);
    background-color: white;
}

.winning {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0; 
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,.9);
    justify-content: center;
    align-items: center;color: aliceblue;
    font-size: 4rem;
    flex-direction: column;
}


.winning button{
    font-size: 2rem;
    background-color: white;
    border: 2px solid black;
    padding: .25em .5em ;
    cursor: pointer;
    border-radius: 5%;
}

.winning button:hover {
    background-color: aliceblue;
    border-color: aliceblue;
    color:rgb(31, 148, 161);
}

.winning.show {
     display: flex;
}
