body {
    background-color:rgb(231, 185, 191);
}
h2{
    background-color: grey;
    color: white;
    width:100%;
    height: 100%;
    padding-bottom: 15px;
    padding-top: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 0;
    margin-top: -16px;
}
#form
{
    margin-top: 25px;
}
button{
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 30px auto;
    background: darkslategrey;
    border-radius: 5px;
    width:200px;
    height:40px;
    font-size: 17px;
    color: white;
}
button :hover{
    background-color: rgb(12, 12, 12);
    transition: background-color 2s ease-out; 
}
.container{
    background-color:rgb(129, 189, 241);
    border-radius: 25px;
    height:450px;
    width: 24%;
    margin-left: 37%;
    position: absolute;
    padding-top: 1em;
    margin-top: 7em;
}